{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "prettier/react",
    "react-app"
  ],
  "plugins": [
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src",
          "node_modules"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "rerenderProps"
      }
    ],
    "no-console": "off",
    "global-require": "off",
    "spaced-comment": "off",
    "no-underscore-dangle": "off",
    "no-use-before-define": [
      "error",
      {
        "variables": false
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "off",
    "react/jsx-fragments": [
      "error",
      "element"
    ],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": [
      "error",
      {
        "ignore": [
          "children",
          "location"
        ]
      }
    ],
    "react/forbid-prop-types": [
      "error",
      {
        "forbid": [
          "any"
        ]
      }
    ],
    "react-hooks/exhaustive-deps": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ]
  }
}
