# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist

# misc
.DS_Store
*.pem

# debug
*.log

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# package lock files
yarn.lock
package-lock.json

# editor folders
.idea
.vscode
