# dependencies
node_modules

# misc
.DS_Store

# debug
*.log

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# package lock files
yarn.lock
package-lock.json

# editor folders
.idea
.vscode

# ignored folders
.github
.husky
src
scripts

# ignored files
.*.js
*.md
tsconfig.json