body {
    font-family: Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    font-weight: 100;
    margin: .5em 0;
}

label {
    color: #999;
    display: inline-block;
    font-size: .85em;
    font-weight: bold;
    margin: 1em 0;
    text-transform: uppercase;
}

.tooltip {
    position: absolute;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    background: rgba(0, 0, 0, .8);
    transform: translate3d(-50%, -50%, 0);
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.grid {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.presenter {
    width: 100%;
}

.content_wrapper {
    width: 100%;
}

.footer {
    margin-top: 50px;
    border-top: 1px solid #eee;
    padding: 20px 0;
    font-size: 12px;
    color: #999;
}

.message {
    text-align: center;
    overflow-wrap: break-word;
}

.hint {
    margin: 15px 0;
    font-style: italic;
    color: #999;
}

.highlight {
    background-color: #f0f0f0;
}

.image_wrapper {
    position: relative;
    width: 100%;
    max-width: min(90vw, 500px);
    margin: 0 auto;
}

.highlight {
    overflow: auto;
}

.handler {
    cursor: pointer;
}

/** MEDIA **/

@media (min-width: 1200px) {
    .presenter, .content_wrapper {
        flex: 1 1 49%;
        max-width: 49%;
    }
}
